---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "IBM Plex Mono", "DejaVu Sans Mono", "Inconsolata", "Monaco", "Lucida Console", monospace;
$base-line-height: 2;
$code-font-family: "IBM Plex Mono", "DejaVu Sans Mono", "Inconsolata", "Monaco", "Lucida Console", monospace;

$text-color:       rgb(17,17,17);
$background-color: rgb(255,255,255);
$brand-color:      rgb(0,0,0);
$brand-color2:     rgb(240,140,0);

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    720px;
$content-padding:  20px;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

/* http://www.colourlovers.com/palette/737421/book_of_kells */

body {
  max-width: $content-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: $content-padding;
  padding-right: $content-padding;
  padding-bottom: 5em;
  padding-top: 3em;
  font-family: $base-font-family;
  line-height: $base-line-height;
  background-color: $background-color;
  color: $text-color;
  font-size: 13px;
}

h1, h2, h3, h4, h5, h6, a {
  color: $brand-color;
  font-size: 13px;
}

a {
  color: $brand-color;
}

a:hover {
  text-decoration: none;
  color: $brand-color2;
}

a:active {
  color: $brand-color2;
}

p + p {
  // text-indent: 1em;
  margin-top: 1em;
}

blockquote, pre {
  font-style: italic;
  border-left: 1px dashed $brand-color2;
  margin-left: -11px;
  padding-left: 3em;
}

pre, code {
  font-style: italic;
  font-family: $code-font-family;
  line-height: 140%;
}

pre {
  padding-left: 3em;
}

body > header a {
  color: $brand-color2;
  margin-bottom: 1em;
}

.date {
  font-style: italic;
  font-size: 0.8em;
  margin-top: -1em;
}

ul.posts {
  padding-left: 0;
  list-style: none;
}

ul.posts li a {
}

.rss-subscribe {
  color: $grey-color;
}

footer {
  margin-top: 3em;
  text-align: center;
  color: $grey-color;
}

ul.contact-list {
  padding-left: 0;
}

.contact-list li {
  list-style-type: none;
  display: inline;
}

.contact-list li + li {
  padding-left: 1em;
}

/*
.first:first-letter {
  font-size: 2.6rem;
  margin-right: 2px;
}
*/
