<header class="site-header">

    <a class="site-title" class="random-color-0" href="{{ site.baseurl }}/">{{ site.title }}</a>

<span class="random-color-0">♥</span><span class="random-color-1">♥</span><span class="random-color-2">♥</span><span class="random-color-3">♥</span><span class="random-color-4">♥</span><span class="random-color-5">♥</span><span class="random-color-6">♥</span><span class="random-color-7">♥</span><span class="random-color-8">♥</span><span class="random-color-9">♥</span>

</header>
