<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300i,400,700" rel="stylesheet">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
<script src='https://code.jquery.com/jquery-3.3.1.js'></script>

<script>
window.onload = function() {
var random_colors = [];
var random_colors_length = 10;
var spread_const = 0.3 * Math.PI;
var spread_theta = Math.random() * spread_const;
var spread_phi = Math.random() * spread_const;

var theta = Math.random() * Math.PI * 2;
var phi = Math.random() * Math.PI * 2;
for (var i = 0; i < random_colors_length; i++) {
  var x = Math.sin(theta) * Math.cos(phi);
  var y = Math.sin(theta) * Math.sin(phi);
  var z = Math.cos(theta);
  var r = Math.floor(x * 128 + 128);
  var g = Math.floor(y * 128 + 128);
  var b = Math.floor(z * 128 + 128);
  $(".random-color-" + i).css('color', "rgb(" + r + "," + g + "," + b + ")");
  theta += spread_theta;
  phi += spread_phi;
}
}

</script>

</head>
